{% extends "blog/base.html" %}
 {% block title %}
   <title>About - gpalert.com</title>
 {% endblock %}
{% block content %}
<div class="content-section">
	<h1>About</h1>
	<p>This site is Developed by Sanskrut, Aniket, Shailendra and Chaitanya. For Government Polytechnic Nagpur.</p>
	<p>It helps to connect Students and Staff of Government Polytechnic Nagpur and provides a platform where they can share their experience, knowledge, memories, and much more.</p>
	<p>We are committed to building a better community by providing a fast and secure platform.</p>
	<p>gpalert.com is developed in GPN.</p>
	<p>Under the Guidance of <b>Prof.L.D.Vilhekar sir</b>.</p>
</div>
{% endblock content %}
